body {
    margin: 16px;
    font-family: 'Source Code Pro', monospace;
    background: var(--background);
    color: var(--text);
    max-width: 480px;
}

header#title {
    display: grid;
    grid-template-areas: "icon title" "icon version";
    grid-template-columns: 64px auto;
    grid-template-rows: 1fr 1fr;
    //grid-gap: 8px;
    //gap: 8px;
    column-gap: 8px;
    // justify-content: center;
    align-items: center;

    img {
        grid-area: icon;
        width: 64px;
        height: 64px;
    }

    h1 {
        grid-area: title;
        font-size: 24px;
        font-weight: normal;
        margin: 0;
    }

    p {
        grid-area: version;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

}

main {
    button {
        &, svg {
            transition: all .2s;
        }
        background: var(--background);
        color: var(--text);
        border: 1px solid var(--text);
        background: transparent;
        padding: 8px;
        margin: 8px 0;
        font-family: 'Source Code Pro', monospace;
        font-size: 1rem;

        &.full_width {
            width: 100%;
            display: block;
        }

        // &:hover, &:focus {
        //     background: var(--text);
        //     color: var(--background);
        //     cursor: pointer;
        // }
    }
}

.light_mode {
    --background: #ffffff;
    --text: #333;
    --yes-color: #B30000;
    --no-color: #006600;
    --url-color: #0000FF;
}
.dark_mode {
    --background: #333;
    --text: #ffffff;
    --yes-color: #FF3D3D;
    --no-color: #00B800;
    --url-color: #00FFFF;
}

.yes {
    color: var(--yes-color)
}

.no {
    color: var(--no-color)
}

.url {
    color: var(--url-color)
}

main button.button_off, .hidden_by_default {
    display: none;
}

div#button {
    --current-status-color: var(--text);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    grid-gap: 16px;
    gap: 16px;
    button {
        border-color: var(--current-status-color);
        svg {
            width: 32px;
            height: 32px;
            fill: var(--current-status-color);
        }
        &:hover, &:focus {
            cursor: pointer;
            background: var(--current-status-color);
            svg {
                fill: var(--background);
            }
        }
        &.grayed_out {
            pointer-events: none;
            filter: brightness(50%);
            border-color: var(--text);
            background: var(--background);
            svg {
                fill: var(--text);
            }
        }
    }
    svg.not {
        display: none;
    }
}