body {
    margin: 16px;
    font-family: 'Source Code Pro', monospace;
    background: var(--background);
    color: var(--text);
}

header#title {
    display: grid;
    grid-template-areas: "icon title" "icon version";
    grid-template-columns: 64px auto;
    grid-template-rows: 1fr 1fr;
    //grid-gap: 8px;
    //gap: 8px;
    column-gap: 8px;
    // justify-content: center;
    align-items: center;

    img {
        grid-area: icon;
        width: 64px;
        height: 64px;
    }

    h1 {
        grid-area: title;
        font-size: 24px;
        font-weight: normal;
        margin: 0;
    }

    p {
        grid-area: version;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

}

main {
    button {
        transition: color .2s, background-color .2s;
        background: var(--background);
        color: var(--text);
        border: 1px solid var(--text);
        background: transparent;
        padding: 8px;
        margin: 8px 0;
        font-family: 'Source Code Pro', monospace;
        font-size: 1rem;

        &.full_width {
            width: 100%;
            display: block;
        }

        &:hover {
            background: var(--text);
            color: var(--background);
            cursor: pointer;
        }
    }
}

.light_mode {
    --background: #ffffff;
    --text: #333;
    --yes-color: #B30000;
    --no-color: #006600;
    --url-color: #0000FF;
}
.dark_mode {
    --background: #333;
    --text: #ffffff;
    --yes-color: #FF8000;
    --no-color: #00FF00;
    --url-color: #00FFFF;
}

.yes {
    color: var(--yes-color)
}

.no {
    color: var(--no-color)
}

.url {
    color: var(--url-color)
}

main button.button_off, .hidden_by_default {
    display: none;
}