.notransition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

* {
    font-family: 'Source Code Pro', monospace;
}

body {
    transition: color .4s, background-color .4s, border-color .4s;
    background: var(--background);
    color: var(--text);
    // max-width: 900px;
    display: block;
    margin: 0;
    padding: 0 12px;
    box-sizing: border-box;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: grid;
    grid-template-areas: "title title" "navbar content";
    grid-template-columns: 20% 80%;
    grid-template-rows: 96px auto;
}

button {
    transition: color .2s, background-color .2s;
    background: var(--text);
    color: var(--background);
    border: none;
    &:hover {
        background: var(--background);
        color: var(--text);
        cursor: pointer;
    }
}

div#title {
    grid-area: title;
    align-items: center;
    display: flex;
    gap: 16px;
    div * {
        margin: 0;
    }
}

div#navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    button {
        margin: 8px;
        background: transparent;
        color: var(--text);
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 16px;
        &:hover {
            background: var(--text);
            color: var(--background);
            svg {
                fill: var(--background);
            }
        }
        svg {
            fill: var(--text);
        }
    }
    .checked {
        svg {
            fill: var(--background);
        }
        color: var(--background);
        background-color: var(--text);
    }
}

div#content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 8px;

    > div {
        display: none;
    }
    div.opened {
        display: block;
    }
}

div[data-correspondingtab="url"] {
    button.remove {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: button;
        margin: 8px 0;
        padding: 0;
        svg {
            fill: var(--background);
        }
        &:hover {
            background: red;
            color: white;
            cursor: pointer;
            svg {
                fill: white;
            }
        }
    }
}

table {
    margin: 16px 0;
    width: 100%;
    border-collapse: separate;
    column-gap: 32px;
    td {
        overflow-wrap: anywhere;
        font-size: 1.2rem;
        p {
            margin: 0;
        }
    }
    thead th {
        text-align: left;
        font-weight: bold;
        font-size: 1.5rem;
        color: var(--text);
        background-color: var(--background);
    }
}

h3.group {
    transition: background-color .4s, color .4s;
    font-weight: bold;
    background: var(--tab-color);
    color: var(--background);
    padding: 8px;
    margin: 0 0 16px 0;

    &:not(:first-child) {
        margin-top: 16px;
    }
}

.light_mode {
    --background: #ffffff;
    --text: #333;
    --yes-color: #B30000;
    --no-color: #006600;
    --url-color: #0000FF;
    --switch-bg: #666;
    --switch-fg: #fff;
    --tab-color: #B30000;
}
.dark_mode {
    --background: #333;
    --text: #ffffff;
    --yes-color: #FF8000;
    --no-color: #00FF00;
    --url-color: #00FFFF;
    --switch-bg: #fff;
    --switch-fg: #666;
    --tab-color: #FFB300;
}
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .slider:before {
            -webkit-transform: translateX(24px);
            -ms-transform: translateX(24px);
            transform: translateX(24px);
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--switch-bg);
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: var(--switch-fg);
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
}

input[type="text"], input[type="url"] {
    transition: border-bottom-color .2s;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(128, 128, 128);
    background-color: transparent;
    color: var(--text);
    font-size: 1rem;
    font-family: inherit;
    padding: 0;
    &:focus {
        outline: none;
        border-bottom-color: var(--text);
    }
    margin: 8px 0;
}

label#url_box {
    p {
        font-size: 1.2rem;
        margin: 0;
    }
    * {
        display: inline-block;
    }
}

button.with_text {
    margin-right: 8px;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 4px 8px;
    &:hover {
        background: var(--url-color);
        color: var(--background);
    }
}

@media (max-width: 800px) {
    button.setting_button svg {
        display: none;
    }
}

pre#infinite_leg {
    margin: 0;
}
