@import "../../shared/_shared.scss";
@import "../../shared/_fullpages.scss";

.notransition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

label#url_box {
    p {
        font-size: 1.2rem;
        margin: 0;
    }
    * {
        display: inline-block;
    }
}

button.setting_button h3 { text-align: left; }

@media (max-width: 800px) {
    button.setting_button svg {
        display: none;
    }
}

pre#infinite_leg {
    margin: 0;
}